@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    text-decoration: none !important;
    list-style-type: none !important;
}

:root {
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-50: 50px;
    --font-size-70: 70px;

    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;

    --gap-10: 10px;
    --gap-20: 20px;
    --gap-26: 26px;
    --gap-32: 32px;
    --gap-40: 40px;
    --gap-42: 42px;
    --gap-44: 44px;
    --gap-46: 46px;
    --gap-48: 48px;
    --gap-52: 52px;
    --gap-63: 63px;
    --gap-80: 80px;
    --gap-110: 110px;
    --gap-128: 128px;
    --gap-131: 131px;
    --gap-179: 179px;
    --gap-260: 260px;
    --gap-321: 321px;
    --gap-436: 436px;

    --text-color-secondary: #001D49;

    --opacity-50: 0.5;
    --opacity-70: 0.7;

    --radius-20: 20px;
    --radius-46: 46px;
    --radius-150: 150px;

    --background-color-primary: #000A1A;
    --background-color-secondary: #031227;
    --background-color-tertiary: #009DFF;

    --poppins: 'Poppins', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

.bg-haunted-house {
    background-image: url("../images/haunted-house-bats-flying.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.font-size-14{
    font-size: var(--font-size-14);
}

.font-size-16 {
    font-size: var(--font-size-16);
}

.font-size-18 {
    font-size: var(--font-size-18);
}

.font-size-20 {
    font-size: var(--font-size-20);
}

.font-size-22 {
    font-size: var(--font-size-22);
}

.font-size-25 {
    font-size: var(--font-size-25);
}

.font-size-30 {
    font-size: var(--font-size-30);
}

.font-size-50 {
    font-size: var(--font-size-50);
}

.font-size-70 {
    font-size: var(--font-size-70);
}

.font-weight-400 {
    font-weight: var(--font-weight-400);
}

.font-weight-500 {
    font-weight: var(--font-weight-500);
}

.font-weight-600 {
    font-weight: var(--font-weight-600);
}

.font-weight-700 {
    font-weight: var(--font-weight-700);
}

.opacity-50 {
    opacity: var(--opacity-50);
}

.opacity-70 {
    opacity: var(--opacity-70);
}

.background-color-primary {
    background-color: var(--background-color-primary);
}

.font-poppins {
    font-family: var(--poppins);
}

.font-montserrat {
    font-family: var(--montserrat);
}

.header-button {
    border-radius: var(--radius-46);
    color: var(--text-color-secondary);
    background-color: white;
    padding: 16px 40px;
    border: transparent;
    transition: all 300ms linear;
}

.header-button:hover {
    color: white;
    background-color: var(--background-color-primary);
}

.h4-line {
    text-decoration: line-through !important;
}

.svg-icon {
    width: 15% !important;
}

.main-section-button {
    padding: 10px 20px;
    border-radius: var(--radius-46);
    color: var(--text-color-secondary);
    background-color: white;
    border: transparent;
    transition: all 300ms linear;
}

.main-section-button:hover {
    color: white;
    background-color: var(--background-color-primary);
    border: 1px solid white;
}

.main-card {
    background-color: var(--background-color-secondary);
    border-radius: var(--radius-20);
    border: transparent;
    padding: 40px;
    height: 100%;
}

.blend-in-card {
    height: 460px;
    background: linear-gradient(180deg, rgba(0, 10, 26, 0.00) 0%, #000A1A 100%);
}

/* TIMELINE */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
/* .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: var(--background-color-tertiary);
    border: 2px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
} */

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

.right::after {
    left: -13px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: transparent;
    position: relative;
    border-radius: 6px;
}

.position-line {
    top: 5%;
    height: 69%;
    left: 50%;
}

.svg-1 {
    top: 5%;
    left: 40%;
    z-index: 1;
    width: 20% !important;
}

.svg-2 {
    top: 38%;
    left: 40%;
    z-index: 1;
    width: 20% !important;
}

.svg-3 {
    top: 72%;
    left: 40%;
    z-index: 1;
    width: 20% !important;
}

.svg-light-1 {
    top: 3.5%;
    left: 40%;
    z-index: 2;
    width: 20% !important;
}

.svg-light-2 {
    top: 36.5%;
    left: 40%;
    z-index: 2;
    width: 20% !important;
}

.svg-light-3 {
    top: 70.5%;
    left: 40%;
    z-index: 2;
    width: 20% !important;
}

/* ACCORDIAN */

.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: transparent;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-border-radius: none;
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: none;
    --bs-accordion-active-bg: none;
}

.accordion-header {
    margin-bottom: var(--gap-26);
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--gap-20) var(--gap-32);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--background-color-secondary);
    border-radius: var(--radius-150) !important;
    border: 1px solid transparent !important;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.accordion-button:not(.collapsed) {
    background-color: var(--background-color-secondary);
}

.accordion-button::after {
    flex-shrink: 0;
    margin-left: auto;
    content: url("../images/accordion-arrow-down.svg") !important;
    /* background-image: url("../images/downward-svg.svg") !important; */
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    /* width: 11.414px !important;
        height: 7.121px !important;
        flex-shrink: 0 !important; */
    /* background-color: var(--white, #FFF) !important; */
}

.accordion-body {
    padding: var(--gap-10) var(--bs-accordion-body-padding-x);
    margin-bottom: 20px !important;
}

.background-svg{
    background-image: url("../images/background-svg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}